<h1>Login</h1>

<form action="/login" method="POST">
<div>
    Username: 
    <input type="username" name="username">
</div>

<div>
    Password:
    <input type="password" name="password">
</div>

<button>Submit</button>

</form>

{{#if success}}
  <div class="flash-message success">
    {{#each success}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}


{{#if error}}
  <div class="flash-message error">
    {{#each error}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}