<h1> Sign Up Now!</h1>

<form action="/signup" method="POST">
<div>
    Username: 
    <input type="text" name="username">
</div>

<div>
    Password: 
    <input type="password" name="password">
</div>


<button>Submit</button>
</form>