<h2> celebrities</h2>
<ul>
    {{#each celebrities}}
    <li> {{this.name}}</li>
    {{/each}}
</ul>

{{#if success}}
  <div class="flash-message success">
    {{#each success}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}


{{#if error}}
  <div class="flash-message error">
    {{#each error}}
      <p>{{this}}</p>
    {{/each}}
  </div>
{{/if}}